


  <div class="container">
<div class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
    <a href="../" class="navbar-brand">Blog </a>
    </button>
      <span class="navbar-toggler-icon"></span>
    <ul class="navbar-nav">
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <a class="nav-link" href="#">Posts</a>
        <li class="nav-item">
          <li class="nav-item">
        </li>
        </li>
          <a class="nav-link" href="#">Add City</a>
        <a class="nav-link" href="#">Add Post</a>
        <li class="nav-item">
          <li class="nav-item">
        </li>

          <a class="nav-link" href="#">?</a>
        </li>
      </ul>

      <ul class="nav navbar-nav ml-auto">
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text"
           placeholder="Username">
          <input class="form-control mr-sm-2" type="password"
           placeholder="Password">
       
     
          <button type="button" class="btn btn-outline-primary  my-2 my-sm-0" style="margin-right:3px;">Login</button>
          <button type="button" class="btn btn-outline-primary  my-2 my-sm-0">Sign Up</button>
        </form>
       
      </ul>
      

    </div>
  </div>
</div>
